body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#C1C62E, #86AA3E), url('/imgs/backgrounds/geometric.png');
    background-size: auto;
    background-blend-mode: overlay;
}
