body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9cbedf;
    // background-image: url('/imgs/backgrounds/bg_1.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
